---
layout: layout.njk
title: projects
---

<h1>Projects</h1>

<p>This page is a collection of projects and other odds and ends.</p>
<!-- TODO: filter into Le Wagon, Balatro Score Counter, etc. -->
<h2>Le Wagon</h2>
<p>In 2020, as Covid was in full swing, I decided to make a career change and become a software engineer. To make this career switch, I did a Web Development bootcamp at <a href="https://www.lewagon.com/">Le Wagon</a>, and completed one solo project and two group projects as part of this experience. After the bootcamp, I wrote up what I learned from these projects, which eventually helped me land my first software engineering role at <a href="https://www.thoughtworks.com/">Thoughtworks</a>.</p>
<p>I've since gone on to do much more as a software engineer, but I like to keep these write-ups around as a reminder of how much I've grown professionally.</p>
<section class="list">
    <ul>
        {%- for project in collections['le-wagon'] | reverse -%}
        <li>
            <time class="published" datetime="{{ project.page.date.toISOString() }}">{{ project.page.date | isoDate }}</time>:
            <a href={{ project.url }} title="{{ project.data.title }}">{{ project.data.title }}</a>
        </li>
        {%- endfor -%}
    </ul>
</section>
