---
layout: layout.njk
title: writing
---
<h1>Writing</h1>
I've written a lot of stuff over the years, mostly in spurts. I've collected some of the writing that I'm proud of here, organised in themes.

<hr class="major" />

<h2>Software Engineering</h2>
Software engineering is how I pay my bills, and it's a craft I take seriously.
<section class="list">
    <ul>
        {%- for post in collections['software-engineering'] | reverse -%}
            <li>
                <time class="published" datetime="{{ post.page.date.toISOString() }}">{{ post.page.date | isoDate }}</time>:
                <a href={{ post.url }} title="{{ post.data.title }}">{{ post.data.title }}</a>
            </li>
        {%- endfor -%}
    </ul>
</section>

<hr class="major" />

<h2>Junior Developer Advice</h2>
During the pandemic lockdown in 2020, I made a career shift into software engineering. After I successfully made my career pivot, many people reached out to me for advice about the two most common career pathways for mid-career switchers into software engineering. I've collated many of the answers to the most common questions I found myself answering here.
<section class="list">
    <ul>
        {%- for post in collections['junior-dev'] | reverse -%}
            <li>
                <time class="published" datetime="{{ post.page.date.toISOString() }}">{{ post.page.date | isoDate }}</time>:
                <a href={{ post.url }} title="{{ post.data.title }}">{{ post.data.title }}</a>
            </li>
        {%- endfor -%}
    </ul>
</section>

<hr class="major" />

<h2>Abstraction</h2>
Three of the enduring creative loves of my life have been the arts, languages, and software engineering. One common thread that runs through all three disciplines is the idea of abstraction. Here are some idle thoughts on the idea of abstraction that I've put into words.
<section class="list">
    <ul>
        {%- for post in collections.abstraction | reverse -%}
            <li>
                <time class="published" datetime="{{ post.page.date.toISOString() }}">{{ post.page.date | isoDate }}</time>:
                <a href={{ post.url }} title="{{ post.data.title }}">{{ post.data.title }}</a>
            </li>
        {%- endfor -%}
    </ul>
</section>

<hr class="major" />

<h2>Other Miscellany</h2>
Thoughts that don't fit anywhere else yet.
<section class="list">
    <ul>
        {%- for post in collections.post | filterUntagged | reverse -%}
            <li>
                <time class="published" datetime="{{ post.page.date.toISOString() }}">{{ post.page.date | isoDate }}</time>:
                <a href={{ post.url }} title="{{ post.data.title }}">{{ post.data.title }}</a>
            </li>
        {%- endfor -%}
    </ul>
</section>

<hr class="major" />

<h2>Undergraduate Essays</h2>
Most people don't care for their undergraduate writing, but I put a lot of heart into my essays. I still keep these essays around to remember how much I've grown since I graduated college.
<section class="list">
    <ul>
        {%- for post in collections.undergrad | reverse -%}
            <li>
                <time class="published" datetime="{{ post.page.date.toISOString() }}">{{ post.page.date | isoDate }}</time>:
                <a href={{ post.url }} title="{{ post.data.title }}">{{ post.data.title }}</a>
            </li>
        {%- endfor -%}
    </ul>
</section>